openmrs-forms/**/*.war filter=lfs diff=lfs merge=lfs -text
openmrs-forms/**/*.omod filter=lfs diff=lfs merge=lfs -text
openmrs-forms/above-five-treatment-register/openmrs-patched.war filter=lfs diff=lfs merge=lfs -text
